@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Secular+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contentMain{
    height: 100vh;
}

header{
    background: linear-gradient(135deg, purple, rgb(166, 245, 255));
}

.content{
    display: flex;
    align-items: center;
}
.contentHeader{
    justify-content: space-between;
    padding: 0.5rem 2rem;
}

nav a{
    text-decoration: none;
    color: black;
    margin-right: 1rem;
}
nav a:hover{
    text-decoration: underline;
}
.buttons{
    display: flex;
    gap: 1rem;
}
.buttons button{
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
}