<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/admin/style.css">
    <link rel="stylesheet" type="text/css" href="/admin/styleStudentPage.css">
    <title>Page</title>
</head>
<body>
    <div class="contentMain">
        <div class="box">
            <h1>Subjects</h1>
            <h2>Hello <%= aluno[0].nome %>, welcome to your page!</h2>
            <h3>How can i assist you today?</h3>

            <div class="optionsButtons">
                <button><a href="/addSubject?aluno=<%= aluno[0].matricula %>">Adicionar Disciplina</a></button>
            </div>
        </div>
    </div>
</body>
</html>