<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="home/home.css">
    <title>Home</title>
</head>
<body>
    <div class="contentMain">
        <header>
            <div class="content contentHeader">
                <h1>MyDev</h1>
                <nav>
                    <a href="">Início</a>
                    <a href="">Sobre nós</a>
                </nav>
                <div class="buttons">
                    <a href=""><button>Entrar</button></a>
                    <a href=""><button>Registrar</button></a>
                </div>
            </div>
        </header>
    </div>
</body>
</html>