<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/errors/userNotFound.css">
    <title>User Not Found</title>
</head>
<body>
    <div class="contentMain">
        <img src="/errors/img/ErrorBear.png">
        <div class="errorDescrib">
            <h1>Erro 404</h1>
            <h3>Usuário não encontrado!</h3>
            <button><a href="/">Voltar</a></button>
        </div>
    </div>
</html>