<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/register/style.css">
    <title>Registro Concluído</title>
</head>
<body>
    <div style="height: 100vh; display: flex; align-items: center; justify-content: center;" class="contentMain">
        <div class="box">
            <h1>Registro Finalizado</h1>
            <h2>Sua matrícula: <%= matricula %></h2>
            <a href="/"><button>Voltar</button></a>
        </div>
    </div>
</body>
</html>